@page
@model BookStore2.Pages.NewBookModel
@{
    ViewData["Title"] = "New Book";
}
<div>
    <h1>New Book:</h1>
    <form name="bookForm" id="BookForm" method="post">
        Title: 
        <br/> 
        <input name="bookTitle" type="text" 
        class="form-control input-lg" autofocus required />
        <br/>
        IBSN:
        <br/>
        <input name="bookISBN" type="text" 
        class="form-control input-lg" required />
        <br/>
        Publisher:
        <input name="bookPublisher" type="text"
        class="form-control input-lg" required />
        <br/>
        Author:
        <input name="bookAuthor" type="text"
        class="form-control input-lg" required />
        <br/>
        Category:
        <input name="bookCategory" type="text"
        class="form-control input-lg" required />
        <br/>

        <input id="saveButton" type="submit" 
        value="Save" class="btn btn-info" />


    </form>
</div>
